@page "/"
@layout EmptyLayout

<div class="d-flex justify-center align-center mud-width-full mud-background-gray" style="min-height: 100vh; background: var(--mud-palette-background);">
    <MudContainer MaxWidth="MaxWidth.Small" Class="px-4">
        <MudCard Elevation="25" Class="pa-4 pa-sm-8 rounded-xl mud-width-full">
            <MudCardHeader Class="d-flex justify-center pb-0">
                <CardHeaderContent>
                    <div class="d-flex flex-column align-center text-center">
                        <MudIcon Icon="@Icons.Material.Filled.MonetizationOn" Color="Color.Primary" Style="font-size: 64px;" />
                        <MudText Typo="Typo.h4" Class="mt-2" Color="Color.Primary" Style="font-weight: bold;">YAC-Prestamos</MudText>
                        <MudText Typo="Typo.subtitle2" Color="Color.Secondary" Class="mb-4">Sistema de Gestión de Préstamos</MudText>
                    </div>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudTextField T="string" Label="Usuario" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mb-4"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
                <MudTextField T="string" Label="Contraseña" Variant="Variant.Outlined" Margin="Margin.Dense" InputType="@tipoEntradaContrasena"
                              Adornment="Adornment.End" AdornmentIcon="@iconoEntradaContrasena" OnAdornmentClick="AlternarVisibilidadContrasena" AdornmentAriaLabel="Mostrar contraseña" />
                <div class="d-flex justify-space-between align-center mt-2 mb-4">
                    <MudCheckBox T="bool" Label="Recordarme" Color="Color.Primary" Dense="true" />
                    <MudLink Href="#" Typo="Typo.body2" Color="Color.Primary">¿Olvidó su contraseña?</MudLink>
                </div>
            </MudCardContent>
            <MudCardActions Class="d-flex flex-column align-stretch px-4 pb-4">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Class="rounded-lg py-2" Href="/counter">
                    Iniciar Sesión
                </MudButton>
            </MudCardActions>
        </MudCard>
    </MudContainer>
</div>

@code {
    private bool mostrarContrasena;
    private InputType tipoEntradaContrasena = InputType.Password;
    private string iconoEntradaContrasena = Icons.Material.Filled.VisibilityOff;

    private void AlternarVisibilidadContrasena()
    {
        mostrarContrasena = !mostrarContrasena;
        if (mostrarContrasena)
        {
            iconoEntradaContrasena = Icons.Material.Filled.Visibility;
            tipoEntradaContrasena = InputType.Text;
        }
        else
        {
            iconoEntradaContrasena = Icons.Material.Filled.VisibilityOff;
            tipoEntradaContrasena = InputType.Password;
        }
    }
}